.topcontainer {background-color:yellow;height: 200px;width: 200px; }
.middlecontainer {background-color: aquamarine; height: 200px;width: 200px; }
.bottomcontainer{background-color: greenyellow; height: 200px;width: 200px;}